{% extends "raw.html" %}

<!-- Adding Page Title -->
{% block title %}mitthu's Dashboard{% endblock %}

<!-- Adding CSS -->
{% block styles %}{{block.super}}
<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/capsule-homepage.css" /> -->
{% endblock %}

<!-- Body Content -->
{% block margins %}{{block.super}}
{% block nav-bar %}{% endblock %}

{% endblock %}

{% block scripts_end %}{{block.super}}
<script src="{{STATIC_URL}}apps/capsule-homepage.js" type="text/javascript"></script>
{% endblock %}
